<footer class = "page-footer">
  <div class = "container">
  <nav id="footerLink">
        <a href="https://www.linkedin.com/in/christopher-nugroho-b2814050/"><img src="https://i.imgur.com/OA6SsbI.png" alt="Linkedin"/></a>
        <a href="https://www.facebook.com/christopher.nugroho"><img src="https://i.imgur.com/8OzW9fc.png" alt="Facebook"/></a>
        <a href="https://twitter.com/ChrisNuLis"><img src="https://i.imgur.com/c7Zxty9.png" alt="Twitter"/></a>
        <a href="https://github.com/ChrisNulis"><img src="https://i.imgur.com/LA1DKG4.png" alt="GitHub"/></a>
        <a href="https://www.instagram.com/ChrisNuLis/"><img src="https://i.imgur.com/OzpBFUD.png" alt="Instagram"/></a>
    <p>Chris Nugroho 2021 FUNKO product copyrighted by FUNKO ltd</p>
  </nav>
  </div>
</footer>
