<head>
  <meta charset="utf-8">
  <div class="text-center">
  <title>POP Collection</title>
  </div>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <style>

  body {
  background-image: url("https://i.imgur.com/mCEcHHA.jpg");
  background-size: auto;
  background-position: center;
  margin: 0 auto;
  font-family: 'Roboto', helvetica;
}

.card{
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}


  button.button,input.button {
  font-size: 0.5em;
  background-color: orange;
  color: black;
  border-radius: 3em;
  height: 2rem;
  font-weight: 300;
  letter-spacing: 0.2em;
  /* padding: 8px 16px; */
}

.button:hover {
  background-color: black;
  color: orange;

}

header, footer, nav {
  font-family: 'Roboto', Helvetica;
  width: 65%;
  margin: 0 auto;
  padding: 1em 4em;
  background: azure;
  border-radius: 3em;
  text-align: center;
  box-shadow: 2px 2px 8px gray;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 2em 0;
  font-family: 'Roboto', Helvetica;
}

li {
  margin: 1em 0;
}

li a {
  font-family: 'Roboto';
  color: blue;
  text-shadow: 2px 2px #bebebe;
  font-size: 1.5em;
  display: inline-block;
  padding-bottom: 0.2em;
}
.text-center h1{
  font-family: 'Roboto';
  color: blue;
  text-shadow: 2px 2px #bebebe;
  font-size: 36px;
  display: inline-block;
  padding-bottom: 0.2em;
}

header h1 {
  font-family: 'Roboto';
  color: blue;
  text-shadow: 2px 2px #bebebe;
  font-size: 36px;
  display: inline-block;
  padding-bottom: 0.2em;
}

.logo {
  font-family: 'Roboto',helvetica;
  text-shadow: 2px 2px #bebebe;

}

footer {
  font-family: 'Roboto';
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 1em;
}
  </style>
</head>
