<header>
  <div class="text-center">
    <div class="image-fluid">
    <a class="navbar-brand" href="/collections"><img src="https://i.imgur.com/mCEcHHA.jpg"></a>
    </div>
  <h1>Welcome</h1>
  </div>
</header>
