<!DOCTYPE html>
<html lang="en" dir="ltr">
      <%- include ('./partials/head.ejs') %>
  <body>
    <div class = "container-fluid">
      <main class="show-main">
    <nav>
      <%- include ('./partials/nav.ejs') %>
    </nav>
    <h1> Create a POP! </h1>
    <form action= "/collections" method="POST">
      Name: <input type="text" name="name" /><br/>
      Description: <input type="text" name="description" /><br/>
      Image: <input type="text" name="img" /><br/>
      Qty: <input type="number" name="qty" /><br/>
      Owned: <input type="checkbox" name="owned" /><br/>
      <input type="submit" class = "button" value="Create A POP" />
    </form>
  </main>
  </div>
  </body>
</html>
