<!DOCTYPE html>
<html lang="en" dir="ltr">
      <%- include ('./partials/head.ejs') %>
  <body>
    <div class = "container-fluid">
      <main class="show-main">
        <nav>
          <%- include ('./partials/nav.ejs') %>
        </nav>
          <div class="text-center">
            <h1> Create a POP! </h1>
            <form class = "text-center border border-heavy p-5" action= "/collections" method="POST">
              <input type="text" id="EditFormName" class= "form-control mb-4" name="name" placeholder="name"/>
              <input type="text" id="EditFormDescription" class= "form-control mb-4" name="description" placeholder="description"/>
              <input type="text" id="EditFormImage" class= "form-control mb-4" name="img" placeholder="image link"/>
              <input type="number" id="EditFormQuantity" class= "form-control mb-4" name="qty" placeholder="quantity" />
              Owned: <input type="checkbox" name="owned" /><br/>
              <input type="submit" class = "button" value="Create A POP" />
              <a class = "button" href="/collections">Back</a>
            </form>
          </div>
      </main>
    </div>
  </body>
</html>
