<!DOCTYPE html>
<html lang="en" dir="ltr">
      <%- include ('../partials/head.ejs') %>
  <body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
      <div class="container-fluid">
        <div class="text-center">
        <div class="Signup-Page">
          <h1>New User</h1>
          <form class="text-center border border-heavy p-5" action="/users" method="POST">
              <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" name="username" required placeholder="username"/>
              <input type="password" id="defaultLoginFormPassword" class= "form-control mb-4" name="password" placeholder="password"/>
              <br>
              <input type="submit" class = "button" value="Submit">
              <a class = "button" href="/collections">Back</a>
          </form>
        </div>
      </div>
  </div>
  </body>
</html>
